    <tr>
        <td style="width: 20px;" rowspan="2">
            {$formcontrols|safe}
        </td>
        <th><label for="{$elementname}_{$artefact->id}" title="{$artefact->title|str_shorten_text:60:true}">{$artefact->title}</label></th>
    </tr>
    <tr>
        <td>{$artefact->description}</td>
    </tr>
