#cpdswrap table tr.incomplete {
    background: #ffd2d8;
    color: #DD0221;
    border-top: 1px solid #080D0F;
}
#cpdswrap table tr.incomplete a.btn-edit {
    color: #458400;
}
.summaryhours {
    border-style: solid;
    border-width: 1px 0px 1px 0px;
    border-color: #cccccc;
}
